@charset "UTF-8";

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F4F4F4;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/*====== HEADER ======*/

.main-header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #d39001, white);
    width: 100%;
    margin: 0;
    padding: 1rem;
    z-index: 999;
}

.esquerda {
    display: flex;
    padding: 1rem;
    gap: 15px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 1.2rem;
}

.brand-slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info h1 {
    margin: 0;
}

.logo-header-img {
    width: 5rem;
    height: 5rem;
    margin-top: -1rem;
}

.top-menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    gap: 2rem;
}

.top-menu a {
    color: black;
    text-decoration: none;
}

.frase {
    margin-top: 1rem;
    font-size: 1rem;
    color: #000000cb;
}

/*====== CARROSSEL ======*/

.carousel {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 500px;
    margin: 30px auto;
    overflow: hidden;
    border-radius: 20px;
}

.slide {
    display: none;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.slide.active {
    display: block;
    height: auto;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-60%);
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 90%;
}

.prev {
    left: 20px;
}

.next {
    right: 20px;
}

/*====== SECTION SOBRE-NOS ======*/

.sobre-nos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 50px;
    margin-top: 2px;
    background-color: #d8d7d7;
    border-radius: 15px;
}

.title {
    font-family: 'Special Gothic Expanded One', sans-serif;
    font-size: 3.5rem;
    font-weight: bold;
    margin: 0;
}

.card-container-sobre {
    display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
   margin: 2rem;
}

.card-sobre {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0, 1);
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 15px;
    padding: 1rem;
    width: 50%;
    height: auto;
    margin: 1rem;
    font-size: 0.9rem;
}

.card-container-sobre p {
    padding: 10px;
}

/*====== SECTION VEICULOS ======*/

.cars {      
    background-color: #d8d7d7;
    margin: 0;
    margin-bottom: 1rem;
    border-radius: 15px;
    font-size: 1.2rem;
    height: auto;
    padding-bottom: 4rem;
}

.h1-veic {
    text-align: center;
    font-size: 3.5rem;
    padding-top: 4rem;
    padding-bottom: 8rem;
    margin: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cards-carros {
   display: flex;
   flex-wrap: wrap;
   border-radius: 10px;
   gap: 2rem;
   justify-content: center;
   margin: 4rem;
}

.cards-carros img{
    position: absolute;
    top: -9rem;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    margin: 0;
    display: block;
    height: auto;
    z-index: 1;
}

.card-veicle {
    position: relative;
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1.9rem;
    width: 20%;
    margin: 1rem;
    font-size: 1rem;
}

.card-veicle h2 {
    position: relative;
    z-index: 2;
    margin-top: 3rem;
}

.box-inside{
    background-color: #d8d7d7;
    border-radius: 15px;
    padding: 0.3rem;
    margin: 1rem;
}

.infos-car {
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 2rem;
}

.valor {
    font-size: 18px;
    font-weight: bold;
}

.button-cars {
    border-radius: 10px;
    font-size: 1.1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #000;
    border: none;
    padding: 0.5rem;
    margin: 3rem;
    background-color: orange;
    cursor: pointer;
}

.button-cars:hover {
    background-color: rgb(255, 186, 57);
} 

/*====== SECTION CONTATO ======*/

.contato {
    display: flex;
    border-radius: 20px;
    background-color: #d8d7d7;
    margin-top: 2rem;
    padding: 7rem 5rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

.contato h1 {
    font-size: 2.5em;
    margin-bottom: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contato p {
    font-size: 2.5em;
    margin-bottom: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contato form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contato input,
.contato textarea {
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    resize: vertical;
}

.contato button {
    padding: 15px;
    background-color: #000;
    color: white;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.contato button:hover {
    background-color: #333;
}

.contato-container {
    display: flex;
    justify-content: center;
    background-color: rgb(218, 214, 214);
    width: 100%;
}

/*====== FOOTER ======*/

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to right, orange, white);
    margin-top: 30px;
    padding: 2.5rem 4rem;
    width: 100%;
    height: auto;
    gap: 20px;
    box-sizing: border-box;
}

.rodape-menu {
    display: flex;
}

.menu-ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 2rem;
    list-style: none;
    font-weight: bold;
    font-size: 1rem;
}

.menu-ul a {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    color: black;
}

.info-rodape {
    font-size: 10px;
}

.redes {
    display: flex;
    justify-content: center;
    width: 100%;
}

.rodape-topo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.rodape-topo h1 {
    font-size: 1.1rem;
}

.horizontal-line {
    border: none;
    height: 1px;
    background-color: rgb(255, 255, 255);
    margin: 1rem;
    width: 90%;
}

.redes-center {
    display: flex;
    gap: 3rem;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.redes-center a {
    text-decoration: none;
    color: #000;
}

.redes img {
    width: 50px;
    vertical-align: middle;
    margin-right: 8px;
}

/*===== BOTAO "FALE COM UM VENDEDOR" ======*/

.chat-widget {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    margin: 1rem;
    z-index: 999; /* deixando assim, sobrepoe tudo da tela */
}

.chat-widget img {
    width: 1rem;
}

.to-talk {
    border-radius: 10px;
    box-shadow: 9px 9px 9px rgba(0, 0, 0, 0.719); /* 9px direita, 9px baixo e 9px de desfoque rgba com 71,9% de opacidade */
    padding: 1rem;
    text-decoration: none;
    border-style: none;
    background-color: #646464;
    color: whitesmoke;
    font-size: 1.2em;
    font-family: Noto Sans JP, sans-serif;
    transition: all .5s ease; /*transicao suave de 0.5s p todas propriedades que mudarem (ease da um efeito suave p inicio e fim)*/
}

.to-talk:hover {
    cursor: pointer;
    letter-spacing: 1px; /*Aumenta o espaçamento entre as letras para 1px quando mouse esta na box*/
    background-color: #000;
    color: white;
}

.to-talk:active {
    letter-spacing: 0.1rem;/*Aumenta o espaçamento entre as letras para 1.3px quando clica*/
    transform: translateY(6px);/*da uma sensacao de afundamento quando clica*/
    transition: 100ms;/*transicao ocorre em 100ms*/
}

/*====== ADAPTAÇÕES PARA TELAS MENORES ======*/

@media (max-width: 850px) {
  .sobre-nos {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .card-sobre {
    width: 100%;
    max-width: 90%;
  }

  .card-sobre h2 {
    font-size: 1.5rem;
  }

  .cards-carros {
    flex-wrap: nowrap;
  }

  .card-veicle {
    border-radius: 40px;
    margin-bottom: 4.5rem;
  }

  .cards-carros img {
    /*arrumar img pra celular*/
  }

  .forms {
    width: 90%;
  }

  .contato {
    flex-direction: column;
  }

  .sugestao {
    font-size: 0.8em;
  }
  
  .sugestao p {
    font-size: 2.3em;
  }
}

@media (max-width:1600px) {
     .cards-carros {
    flex-wrap: nowrap;
  }

  .card-veicle {
    border-radius: 40px;
    margin-bottom: 9rem;
  }
}

@media (max-width: 1920px){
     .cards-carros {
    flex-wrap: nowrap;
  }

  .card-veicle {
    border-radius: 40px;
    margin-bottom: 10rem;
  }
}