@charset "UTF8";

* {
    box-sizing: border-box;
}

body {
    background-color: #e2e2e2;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.main-header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #d39001, white);
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 0;
    padding: 5px;
}

.logo-header-img {
    margin-left: -10px;
    width: 75px;
    height: 75px;
    margin-top: 0px;
}

.esquerda {
    display: flex;
    gap: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.brand-slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.brand-slogan a {
    text-decoration: none;
    color: black;
}

.box-father {
    display: flex;
    flex-wrap: nowrap;
    margin: 30px;
    gap: 30px;
}

.container-left {
    background-color: white;
    width: 1000px;
    border-radius: 20px;
    padding: 10px;
}

.img-car {
    text-align: center;
}

.container-left img {
    width: 600px;
}

.container-right {
    width: 800px;
    height: auto;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.car-name {
   
}

.car-name hr {
    width: 90%;
}

.vantagens {
    font-size: 1.1em;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 5em;
    padding: 10px;
    padding-right: 40px;
}

.vantagens li {
    font-size: 1.5em;
}

.car-info img {
    width: 35px;
}

.inside-infos {
    
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    padding-right: 40px;
}

.feature {
    
}