@charset "UTF8";

* {
    box-sizing: border-box;
}

body {
    background-color: #e2e2e2;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.main-header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #d39001, white);
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 0;
    padding: 1rem;
}

.logo-header-img {
    width: 20%;
    height: 10vh;
}

.esquerda {
    display: flex;
    gap: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.brand-slogan {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.brand-slogan a {
    text-decoration: none;
    color: black;
}

.carro {
    display: flex;
    flex-wrap: nowrap;
    margin: 2rem;
    gap: 30px;
}

.container-left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 50%;
    border-radius: 20px;
    padding: 1rem;
}

.container-left img {
    width: 80%;
}

.container-right {
    width: 50%;
    height: auto;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 20px;
}

.car-name {
   background-color: #e2e2e2;
   border-radius: 30px;
   padding: 2rem;
   margin: 1rem;
}

.infos-car {
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
}

#descricao {
    font-size: 1.2rem;
}

.container-infos {
    font-size: 1.1em;
    background-color: #e2e2e2;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    padding: 1rem;
    margin: 1rem;
}

.detalhes-carro {
    display: flex;
}

.detalhes-carro li {
    list-style: none;
}

.inside-detalhes {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}

.inside-detalhes img {
    width: 50%;
    height: 1.7rem;
}


.to-talk {
    background-color: #ff6702;
    padding: 0.7rem;
    font-size: 1.1rem;
    text-align: center;
    border: solid 1px;
    border-radius: 8px;
    width: 15%;
}

.to-talk a {
    text-decoration: none;
    color: white;
}

.car-name hr {
    width: 90%;
}

.vantagens {
    font-size: 1.1em;
    background-color: #e2e2e2;
    border-radius: 30px;
    font-family: "Montserrat", sans-serif;
    padding: 1rem;
    margin: 1rem;
}

.vantagens h1 {
    padding-left: 1rem;
}

.vantagens li {
    font-size: 1.2em;
}

.info img {
    width: 15%;
}

.especificacao {
    border-radius: 20px;
    background-color: #ffffff;
    margin: 2rem;
}

.container-especificacao {
    display: flex;
}

.inside-infos {
    display: flex;
    gap: 30px;
    padding: 15px;
}

.feature {
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
}

.rodape {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, orange, white);
    padding: 10px 60px;
    width: 100%;
}

.redes {
    display: flex;
    justify-content: center;
    width: 100%;
}

.rodape-topo {
    display: flex;
    justify-content: flex-start;
}

.info-rodape {
    font-size: 1rem;
}

.horizontal-line {
    border: none;
    height: 1px;
    background-color: white;
    margin: 20px;
    width: 90%;
}

.redes-center {
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}

.redes-center a {
    text-decoration: none;
}

.redes img {
    width: 50px;
    vertical-align: middle;
    margin-right: 8px;
}